PORT=4000
APP_NAME=Data-Migration-Service
SKIP_CHECKPOINT=false

# Staging Auth DB
AUTH_DB_URL=AUTH_DB_URL

# Staging Tribe DB
PG_HOST=DB_HOST
PG_USER=DB_USER
PG_PASSWORD=DB_PASS
PG_DATABASE=DB_NAME
PG_PORT=DB_PORT

# Staging Certificate DB
CERT_DB_HOST=DB_HOST
CERT_DB_PORT=DB_PORT
CERT_DB_USER=DB_USER
CERT_DB_PASSWORD=DB_PASS
CERT_DATABASE=DB_NAME

# Staging WP DB
WP_DB_HOST=DB_HOST
WP_DB_PORT=DB_PORT
WP_DB_USER=DB_USER
WP_DB_PASSWORD=DB_PASS
WP_DATABASE=DB_NAME

# Convex DB
CONVEX_DEPLOYMENT=CONVEX_DEPLOYMENT
CONVEX_URL=CONVEX_DB_URL
CONVEX_SITE_URL=CONVEX_SITE_URL
